#menu {
    background: black url('../images/menu-background.jpg') no-repeat center;
    width: 1000px;
    height: 600px;
}

#container {
    display: none;
}

#endGameScreen {
    display: none;
    background-color: black;
    width: 1000px;
    height: 600px;
    color: white;
}

#fireworks {
    float: left;
    margin-left: 40px;
    padding: 0;
    margin-top: 160px;
}

#endMessages {
    float: left;
    margin-top: 200px;
    margin-left: 80px;
    text-align: center;
}

#newGame {
    margin-top: 40px;
    margin-left: 40px;
    float: left;
    font-size: 18px;
}

#exit {
    margin-top: 40px;
    margin-left: 30px;
    float: left;
    font-size: 18px;
}

#endGameScreen h1, #olive {
    display: inline;
    float: left;
}

#endGameScreen h1 {
    white-space: nowrap;
}

#olive {
    height: 100px;
    width: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 400px;
}

    ul li {
        text-align: center;
    }

#insertNames {
    margin: 0;
    text-align: center;
    font-size: 26px;
    color: white;
    padding-top: 150px;
}

input {
    display: inline-block;
    background-color: black;
    color: white;
    margin-left: 170px;
    margin-top: 100px;
    height: 30px;
    font-size: 20px;
}

#playButton {
    text-align: center;
    color: white;
    font-size: 18px;
    font: bolder;
    margin-top: 180px;
    margin-left: 440px;
    float: left;
}

button {
    background: none;
    border: none;
    color: white;
    font: bolder;
    font-size: 26px;
}

    button:hover {
        text-decoration: underline;
    }

#rules, #credits {
    margin: 0;
    padding-top: 100px;
    color: white;
    text-align: center;
}

    #rules h2, #credits h2 {
        font: bolder;
        font-size: 26px;
        text-decoration: underline;
    }

p {
    width: 500px;
    text-align: justify;
    margin-left: 270px;
}

#goodbye {
    margin: 0;
    padding-top: 250px;
    color: white;
    text-align: center;
    white-space: nowrap;
    padding-left: 420px;
}

    #goodbye h1, #goodbye img {
        display: inline;
        float: left;
    }

    #goodbye h1 {
        white-space: nowrap;
    }

    #goodbye img {
        height: 100px;
        width: 50px;
    }

#backButton {
    text-align: center;
    color: white;
    font-size: 18px;
    font: bolder;
    margin-top: 180px;
    margin-left: 480px;
}
